.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 127rem;
  background-color: $color-primary-dark;

  @media only screen and (max-width: $bp-medium) {
    // max-height: 55rem;
    grid-column: 1/-1;
  }
}

.results {
  list-style: none;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    overflow-x: scroll;
    grid-column: 1/-1;
  }
}

.search-results::-webkit-scrollbar {
 width: 0;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media only screen and (max-width: $bp-medium) {
    max-width: 100vw;
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__btn {
        &--prev {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        &--next {
          grid-column: 3/4;
          grid-row: 1/2;
        }
      }

  &__page{
    display: inline-block;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-grey-light-1;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}